---
import Link from "./HeaderLink.astro";
---

<header>
  <nav class="flex container mx-auto p-10 items-center justify-between">
    <a class="flex items-center gap-2" href="/">
      <p class="font-kablamo text-ppink text-5xl">S</p>
      <p class="pt-2 text-lg font-semibold">Joaquín Sorolla</p>
    </a>
    <ul class="flex items-center gap-8 pr-20 overflow-visible">
      <li><Link href="/" text="Home" style="primary" /></li>
      <li><Link href="/about" text="What I do" style="secondary" /></li>
      <li><Link href="/blog" text="My work" style="tertiary" /></li>
    </ul>
  </nav>
</header>
