---
type Type = "primary" | "secondary" | "tertiary";
const { href = "", text = "", style = "primary" } = Astro.props;

interface Props {
  text: string;
  href: string;
  style: Type;
}

const types: Record<Type, string> = {
  primary: "hover:shadow-pblueHover",
  secondary: "hover:shadow-pgreenHover",
  tertiary: "hover:shadow-ppinkHover",
};
const getType = (style: Type) => {
  return types[style] || "";
};
---

<a
  href={href}
  class={`rounded-md border-black inline-block px-5 py-2 hover:border-1 ${getType(style)} transition ease-in-out`}
>
  {text}
</a>
